Никакие экспериментально полученные данные никогда **не подтвердят** какую-либо гипотезу. Это является фундаментальным ограничением. Данные могут лишь не противоречить гипотезе или, наоборот, показывать очень маловероятные результаты (при условии, что гипотеза верна). Но и в том, и в другом случае никогда нет оснований утверждать, что выдвинутая гипотеза **доказана**.

In [ ]:
# Изучим набор данных об удовлетворенности клиентов Apple и Samsung продуктами компаний

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('apple_samsung.csv')
df

    Sr No S_Cust_id  Samsung_Score Apple_Cust_id  Apple_Score
0       1   S336499             94       A336525           82
1       2    S73004             99        A73011           83
2       3    S79537             74        A79538           88
3       4   S769168             74       A769222           80
4       5   S609791             83       A609801           74
..    ...       ...            ...           ...          ...
95     96   S285617             77       A285629           87
96     97   S324135             85       A324151           82
97     98   S292076             83       A292091           88
98     99   S936528             82       A936566           91
99    100   S489010            100       A489031           95

[100 rows x 5 columns]

1) Нужно сформулировать нулевую и альтернативную гипотезы;   
2) Определить пороговый уровень статистической значимости;  
3) Сколько у нас выборок (какой вариант теста используем)?  
3) Нужен ли односторонний, либо двухсторонний вариант теста?  https://stats.idre.ucla.edu/other/mult-pkg/faq/general/faq-what-are-the-differences-between-one-tailed-and-two-tailed-tests/  
5) Определить, равна ли дисперсия групп.

## Клиенты удовлетворены продукцией Apple?

H0: средняя удовлетворенность клиентов Apple продукцией компании >= 75%  
H1: средняя удовлетворенность клиентов Apple продукцией компании составляет менее 75%

За alpha здесь и далее будем принимать 0.05

Сравниваем значение по выборке с константой, поэтому нужен одновыборочный критерий.

Тест нужен односторонний, т.к. нас интересует только неравенство в меньшую сторону.

In [3]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(df['Apple_Score'], 75, alternative='less')

print(df['Apple_Score'].mean())
print(result)

if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу, среднее меньше 75 (продукция не нравится)')
else:
    print('Не отвергаем нулевую нулевую гипотезу, продукция Apple нравится клиентам')

TypeError: ttest_1samp() got an unexpected keyword argument 'alternative'

## Клиенты не удовлетворены продукцией Samsung?

H0: средняя удовлетворенность клиентов Samsung продукцией компании <= 50%  
H1: средняя удовлетворенность клиентов Samsung продукцией компании составляет не менее 50%

In [19]:
alpha = 0.05
result = st.ttest_1samp(df['Samsung_Score'], 50, alternative='greater')
print(result)
if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее больше 50')
else:
    print('Не отвергаем нулевую гипотезу, продукция Samsung не нравится клиентам')

Ttest_1sampResult(statistic=29.465073943150735, pvalue=4.227177685595427e-51)
Отвергаем нулевую гипотезу, среднее больше 50

## Клиентам одинаково нравится продукция Apple и Samsung?

H0: средняя удовлетворенность клиентов Samsung и Apple одинаковая  
H1: средняя удовлетворенность клиентов Samsung и Apple различается

Здесь нам уже нужен двухвыборочный двухсторонний критерий.

Существует [мнение](http://daniellakens.blogspot.com/2015/01/always-use-welchs-t-test-instead-of.html), что использование критерия Уэлча всегда предпочтительнее, будем придерживаться этой позиции.

In [ ]:
result = st.ttest_ind(df['Samsung_Score'], df['Apple_Score'], equal_var=False)
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, клиенты по разному относятся к продукции Apple и Samsung')
else:
    print('Не отвергаем нулевую гипотезу')