In [39]:
#Задание 1**
#Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
#- оценка 2 и меньше - низкий рейтинг
#- оценка 4 и меньше - средний рейтинг
#- оценка 4.5 и 5 - высокий рейтинг

#Результат классификации запишите в столбец class
import pandas as pd
ratings = pd.read_csv('1/ml-latest-small/ratings.csv')
def sorted_films(item):
    if item <= 2.0:
        return 'Низкий рейтинг'
    if 2 <= item <= 4.0:
        return 'Средний рейтинг'
    if item == 4.5 or item == 5:
        return 'Высокий рейтинг'
ratings['Class'] = ratings['rating'].apply(sorted_films)
ratings

        userId  movieId  rating   timestamp            Class
0            1       31     2.5  1260759144  Средний рейтинг
1            1     1029     3.0  1260759179  Средний рейтинг
2            1     1061     3.0  1260759182  Средний рейтинг
3            1     1129     2.0  1260759185   Низкий рейтинг
4            1     1172     4.0  1260759205  Средний рейтинг
...        ...      ...     ...         ...              ...
99999      671     6268     2.5  1065579370  Средний рейтинг
100000     671     6269     4.0  1065149201  Средний рейтинг
100001     671     6365     4.0  1070940363  Средний рейтинг
100002     671     6385     2.5  1070979663  Средний рейтинг
100003     671     6565     3.5  1074784724  Средний рейтинг

[100004 rows x 5 columns]

In [43]:
#Задание 2
#Используем файл keywords.csv.
#Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
#Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
#geo_data = {
#'Центр': ['москва', 'тула', 'ярославль'],
#'Северо-Запад': ['петербург', 'псков', 'мурманск'],
#'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
#}
#Результат классификации запишите в отдельный столбец region.
keywords = pd.read_csv('1/ml-latest-small/keywords.csv')
def check_region(reg):
    if reg in ['москва', 'тула', 'ярославль']:
        return 'Центр'
    if reg in ['петербург', 'псков', 'мурманск']:
        return 'Северо-Запад'
    if reg in ['владивосток', 'сахалин', 'хабаровск']:
        return 'Дальний Восток'
    return 'undefined'
keywords['region'] = keywords.keyword.apply(check_region)
keywords

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]