
Домашнее задание к лекции "Статистика. Практика"
Задание 1
Вернемся к набору данных о видеоиграх.

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?
2) Критикам нравятся больше игры на PC или на PS4?
3) Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы;
выберите пороговый уровень статистической значимости;
опишите полученные результаты статистического теста.

In [41]:
import numpy as np
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt 
import seaborn as sns

In [36]:
df = pd.read_csv("vgsales.csv") 
df = df.dropna()
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16667,E.T. The Extra-Terrestrial,GBA,2001.0,Action,NewKidCo,0.01,0.00,0.00,0.00,0.01,46.0,4.0,2.4,21.0,Fluid Studios,E
16677,Mortal Kombat: Deadly Alliance,GBA,2002.0,Fighting,Midway Games,0.01,0.00,0.00,0.00,0.01,81.0,12.0,8.8,9.0,Criterion Games,M
16696,Metal Gear Solid V: Ground Zeroes,PC,2014.0,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,80.0,20.0,7.6,412.0,Kojima Productions,M
16700,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,Atomic Games,T
16706,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+

In [30]:
#1) Как критики относятся к спортивным играм?

df_sport = df[df.Genre == 'Sports']
df_sport

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16148,Don Bradman Cricket 14,PS3,2014.0,Sports,Tru Blu Entertainment,0.00,0.01,0.00,0.00,0.01,73.0,5.0,6.9,55.0,Big Ant Studios,E
16233,Madden NFL 13,PS3,2012.0,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01,83.0,22.0,5.5,101.0,EA Tiburon,E
16380,Tiger Woods PGA Tour 2005,PC,2004.0,Sports,Electronic Arts,0.00,0.01,0.00,0.00,0.01,91.0,16.0,4.5,39.0,Headgate,E
16532,Pro Evolution Soccer 2010,PC,2009.0,Sports,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01,78.0,8.0,6.9,49.0,Konami,E
16550,Wade Hixton's Counter Punch,GBA,2004.0,Sports,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01,78.0,13.0,9.5,4.0,Inferno Games,T

H0 - средняя оценка критиков спортивных игр >= 70%
H1 - средняя оценка критиков спортивных игр < 70%

In [31]:
alpha = 0.05
result = st.ttest_1samp(df_sport['Critic_Score'], 70, alternative='less')
print(df_sport['Critic_Score'].mean())
print(result)
if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее меньше 50, критики негативно оценивают спортивные игры')
else:
    print('Не отвергаем нулевую гипотезу, среднее больше 50, критики положительно оценивают спортивные игры')

74.17073170731707
Ttest_1sampResult(statistic=9.71180901421307, pvalue=1.0)
Не отвергаем нулевую гипотезу, среднее больше 50, критики положительно оценивают спортивные игры

In [32]:
#2) Критикам нравятся больше игры на PC или на PS4?
df_PC = df[df.Platform == 'PC']
df_PS4 = df[df.Platform == 'PS4']

H0 - средняя оценка критиков PC и PS4 одинакова
H1 - средняя оценка критиков PC и PS4 отличается

In [35]:
alpha = 0.05
result = st.ttest_ind(df_PC['Critic_Score'], df_PS4['Critic_Score'], equal_var = False)
print(df_PC['Critic_Score'].mean())
print(df_PS4['Critic_Score'].mean())
print(result)
if result.pvalue < alpha and result.statistic > 0:
    print('Отвергаем нулевую гипотезу, критики по разному оценивают PC и PS4, PC лучше оценивают на:', result.statistic)
elif result.pvalue < alpha and result.statistic < 0:
    print('Отвергаем нулевую гипотезу, критики по разному оценивают PC и PS4, PC хуже оценивают на:', result.statistic)
else:
    print('Не отвергаем нулевую гипотезу, критики одинаково оценивают PC и PS4')

76.26113671274962
72.66945606694561
Ttest_indResult(statistic=3.987087145027479, pvalue=7.984874894502312e-05)
Отвергаем нулевую гипотезу, критики по разному оценивают PC и PS4, PC лучше оценивают на: 3.987087145027479

3) Критикам больше нравятся стрелялки или стратегии?

In [37]:
df_Shooter = df[df.Genre == 'Shooter']
df_Strategy = df[df.Genre == 'Strategy']

In [ ]:
H0 - средняя оценка критиков Shooter и Strategy одинакова
H1 - средняя оценка критиков Shooter и Strategy отличается

In [38]:
alpha = 0.05
result = st.ttest_ind(df_Shooter['Critic_Score'], df_Strategy['Critic_Score'], equal_var = False)
print(df_Shooter['Critic_Score'].mean())
print(df_Strategy['Critic_Score'].mean())
print(result)
if result.pvalue < alpha and result.statistic > 0:
    print('Отвергаем нулевую гипотезу, критики по разному оценивают Shooter и Strategy, Shooter лучше оценивают на:', result.statistic)
elif result.pvalue < alpha and result.statistic < 0:
    print('Отвергаем нулевую гипотезу, критики по разному оценивают Shooter и Strategy, Shooter хуже оценивают на:', result.statistic)
else:
    print('Не отвергаем нулевую гипотезу, критики одинаково оценивают Shooter и Strategy')

70.98148148148148
73.12359550561797
Ttest_indResult(statistic=-2.502563131994353, pvalue=0.012619857894976985)
Отвергаем нулевую гипотезу, критики по разному оценивают Shooter и Strategy, Shooter хуже оценивают на: -2.502563131994353


Задание 2
Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;
2) Удалите мусорные символы;
3) Удалите стоп-слова;
4) Привидите все слова к нормальной форме;
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
Можете поэкспериментировать с параметрами TfidfVectorizer;
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;
7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;
8) Опишите результаты при помощи confusion_matrix;
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [135]:
import pandas as pd
import re

In [2]:
emails = pd.read_csv("spam.csv") 
texts = emails['Message']
texts[15]
emails

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [44]:
# приведем все слова к нижнему регистру
texts_lower_case = [text.lower() for text in texts]
# проверим
texts_lower_case[1]

'ok lar... joking wif u oni...'

In [21]:
# уберем все служебные символы
print(len(texts_lower_case[15]))
only_words_text = [re.sub('[\W_]+',' ', text) for text in texts_lower_case]
# проверим
print(len(only_words_text[55]))
only_words_text[1]

149
71

'ok lar joking wif u oni '

In [22]:
# разделим все на слова
texts_splitted = [text.split() for text in only_words_text]
# сколько слов?
len(texts_splitted[1])

6

In [23]:
#фильтруем стоп-слова
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))
without_sw = [[word for word in text if word not in stopwords_set] for text in texts_splitted]
without_sw[1]

['ok', 'lar', 'joking', 'wif', 'u', 'oni']

In [35]:
#проводим лемматизацию
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
lemmatized_text = [[wordnet_lemmatizer.lemmatize(word) for word in text] for text in without_sw]
lemmatized_text[1]

['ok', 'lar', 'joking', 'wif', 'u', 'oni']

In [140]:
#склеиваем назад список слов с строки
LemMessage=[]
for item in lemmatized_text:
    LemMessage.append(" ".join(map(str, item)))
LemMessage[1]

'ok lar joking wif u oni'

In [139]:
#перезаписываем сообщение лемматизированным и преобразованным текстом
emails['Message'] = LemMessage
emails

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                            ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham                u dun say early hor u c already say
4         ham                nah think go usf life around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                        ü b going esplanade fr home
5569      ham                               pity mood suggestion
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

In [108]:
#Преобразуйте все сообщения в вектора TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(emails.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
#подключаем логистическую регрессию
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [141]:
#задаем x, y
X = tfidf_matrix
y = emails['Category']

In [85]:
# делим на тренировочную часть  и тестовую
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [142]:
# формируем модель LR
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [143]:
#Обучаем
model.fit(X_train, y_train)

LogisticRegression()

In [144]:
#Предсказываем
y_pred = model.predict(X_test)
y_pred[1]

'ham'

In [145]:
#Опишите результаты при помощи confusion_matrix
#1445 писем модель верно предсказала спам
#66 писем модель посчитала как спам, но на самом деле это обычные письма (ошибка 1 рода)
#3 письма посчитала как не спам, но на самом деле это спам (ошибка 2 рода)
#158 писем модель определила как обычные и в действительности они не являются спамом
import sklearn as sklearn
sklearn.metrics.confusion_matrix(y_test, y_pred, labels=['spam', 'ham'], sample_weight=None, normalize=None)

array([[ 158,   66],
       [   3, 1445]], dtype=int64)

In [146]:
#для понимания какие индексы остались
y_test.index

Int64Index([3245,  944, 1044, 2484,  812, 2973, 2991, 2942,  230, 1181,
            ...
            2857,  402, 3782, 4456, 5308, 2505, 2525, 4975,  650, 4463],
           dtype='int64', length=1672)

In [148]:
#Постройте датафрейм, который будет содержать все исходные тексты сообщений,
#классифицированные неправильно (с указанием фактического и предсказанного)
dfdf = pd.DataFrame()
dict = {}
for i in y_test.index:
    dict = {'Факт': y_test[i], 'Текст': emails['Message'][i]}
    dfdf = pd.concat([dfdf, pd.DataFrame([dict])]) 
dfdf['Предсказание'] = y_pred
dfdf = dfdf[(dfdf['Факт'] != dfdf['Предсказание'])]

dfdf = dfdf.reindex(columns=['Факт','Предсказание','Текст'])
dfdf

    Факт Предсказание                                              Текст
0    ham         spam                                      hey free call
0   spam          ham  reminder downloaded content already paid goto ...
0   spam          ham  guess somebody know secretly fancy wanna find ...
0   spam          ham  oh god found number glad text back xafter msg ...
0   spam          ham  next amazing xxx picsfree1 video sent enjoy on...
..   ...          ...                                                ...
0   spam          ham  freemsg hi baby wow got new cam moby wanna c h...
0   spam          ham    important customer service announcement premier
0   spam          ham  themob check newest selection content game ton...
0    ham         spam                                          free call
0   spam          ham  sm ac blind date 4u rodds1 21 aberdeen united ...

[69 rows x 3 columns]